

html,
body {
  background-color: lightgrey;

  font-family: "Indie Flower", cursive, Arial, sans-serif;

  --yellow-shade: #FFDE64;

  --line-height: 48px;

  --left-line: 120px;

  font-size: var(--line-height);
  line-height: var(--line-height);

  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

  text-size-adjust: none;

}


body::-webkit-scrollbar {
  display: none;
  /* Hide the scrollbar */
}




#body_piece {

  min-height: 100%;

  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);

  border-radius: 60px 60px 0 0;

  --background: #f7f7f7;

  background-color: var(--background);

  background-image:
    radial-gradient(circle at calc(var(--left-line) / 2) 180px, white 12px, transparent 12px),
    radial-gradient(circle at calc((var(--left-line) / 2) + 1px) 181px, gray 12px, transparent 12px),
    linear-gradient(90deg, transparent var(--left-line), #d4acab var(--left-line), #d4acab calc(var(--left-line) + 2px), transparent calc(var(--left-line) + 2px)),
    linear-gradient(to bottom, var(--background), var(--background)),
    /* background for first row */
    linear-gradient(#eee .1rem, transparent .1rem);

  background-repeat:
    repeat-y,
    repeat-y,
    repeat,
    no-repeat,
    repeat;

  background-size:
    100% 400px,
    100% 400px,
    auto,
    100% calc(var(--line-height) * 4),
    100% var(--line-height);



  font-size: var(--line-height);
  line-height: var(--line-height);
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  padding-bottom: var(--line-height);

}

p {

  font-weight: lighter;
}


h1 {
  text-wrap: nowrap;

  text-align: center;
  font-size: calc(2 * var(--line-height));
  line-height: calc(3 * var(--line-height));

  margin-bottom: calc(var(--line-height) );
  padding-top: calc(var(--line-height) );
  margin-top: 0;

  transform: translateY(calc(var(--line-height) * .7));


}


.text {
  margin-left: calc(var(--left-line) + 10px);
  margin-right: 15%;
  margin-bottom: var(--line-height);
  font-size: var(--line-height);
  line-height: var(--line-height);
  transform: translateY(calc(var(--line-height) * .1));

}

#introduction > .text {
  margin-right: 25%;
}

#programming > .text {
  margin-right: 25%;
}



#headshot {
  position: absolute;
  top: calc(var(--line-height) * 3);
  right: calc(var(--line-height) * .8);
  width: 20%;
  height: auto;
  /* border-radius: 1rem / 1rem; */
  filter: saturate(150%);

  rotate: 3deg;

}


#check {
  position: absolute;
  left: 1.5rem;
  top: .5rem;

  transform: rotate(-10deg);

  font-size: var(--line-height);

  z-index: 1;

}

.expandable {
  background-color: var(--yellow-shade);
  padding-left: 4px;
  padding-right: 4px;


  cursor: pointer;

}

.expanded {
  cursor: default;
}


.thumbnail {
  border-radius: 3rem / 3rem;
  object-fit: fill;
  width: 100%;
  height: 100%;
  flex-grow: 0;
  transition: transform 0.3s ease;

}

.thumbnail:hover {
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

  transform: scale(1.1) !important;
  transition: transform 0.3s ease;

}

a:has(img) {
  height: calc(var(--line-height) * 5);
}

.grid-container>span {
  background-color: red;
}

.grid-container {
  margin: var(--line-height);
  display: flex;
  gap: var(--line-height);
  flex-wrap: wrap;
  width: 80vw;
}

#postit, #postit-shadow {

  font-size: 32px;
  line-height: 32px;

  padding-top: calc(32px * .5);
  text-align: center;
  background-color: var(--yellow-shade);
  height: auto;
  aspect-ratio: 1 / 1;
  width: 17%;

  right: calc(32px);

  top: calc(6 * 32px);

  position: absolute;

  transform: skew(6deg) rotate(-5deg);

  z-index: 1;
}

#postit {
  background-image: linear-gradient(rgba(255, 153, 0, 0.179), transparent 20%, rgba(255, 255, 255, 0.495));

}

#postit-shadow {

  transform: skew(6deg) rotate(-5deg) skew(-4deg) translateX(-6px);

  content: "";

  position: absolute;

  background-color: rgba(0, 0, 0, 0.671);
  filter: blur(2px);
}

#postit>span {
  font-size: calc(.75 * 32px);
}


.vertical-bundle {
  display: flex;
  flex-direction: column;

  width: max(20vw);
  height: calc(8 * var(--line-height));
}

.arrow {
  width: 100%;
  z-index: -1;
}

#mark-area {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  z-index: 5;
  justify-content: center;
  width: 100%;

  box-sizing: border-box;

  padding-right: 5%;
  padding-left: 5%;

}

.mark {

  z-index: auto;

  cursor: pointer;

  color: black;

  --shadow-color: calc(var(--grad-color) - rgba(76, 0, 255, 0.179));

  transition: transform 0.3s ease;

  font-size: 50%;

  padding-top: calc(var(--line-height) * .5);
  text-align: center;
  background-color: var(--grad-color);
  height: var(--line-height);

  width: calc(var(--line-height) * 3.5);
  top: -20px;

  margin-right: 30px;


  transform: translateY(calc(var(--line-height) * -.5)) skew(8deg) rotate(-5deg);


  background-image: linear-gradient(rgba(76, 0, 255, 0.179), transparent 20%, rgba(255, 255, 255, 0.495));

  transform-style: preserve-3d;

}




.selected_mark {
  transform: translateY(-120px) !important;
}

.mark:hover {
  transform: translateY(calc(var(--line-height) * -.5)) translateY(20px) translateX(-10px) scale(1.05);
  z-index: 3;

}

.mark::before {

  transition: transform 0.3s ease, left 0.3s ease;

  transform-origin: top right;

  transform: translateZ(-1px) rotate(2deg);

  content: "";
  position: absolute; 
  top: 4px; 
  left: -3px; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.671); 
  filter: blur(2px);


}

.mark:hover::before{

  transform: translateZ(-1px);

  left: 0px;

}

