* {

  font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;

}

p {


  font-weight: lighter;
}


html, body {

    --yellow-shade: #FFDE64;

    --line-height: 32px;

    font-size: var(--line-height);
    line-height: var(--line-height);

    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

    text-size-adjust: none;

}

@media only screen and (max-width: 800px) {
  html, body {
    --line-height: 42px;
  }
}


#body_piece {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);

  border-radius: 30px;

  --background: #f7f7f7;

  background-color: var(--background);

 background-image:
  radial-gradient(circle at 40px 180px, white 12px, transparent 12px),
  radial-gradient(circle at 41px 181px, gray 12px, transparent 12px),
  linear-gradient(90deg, transparent 79px, #d4acab 79px, #d4acab 81px, transparent 81px),
  linear-gradient(to bottom, var(--background), var(--background)), /* background for first row */
  linear-gradient(#eee .1rem, transparent .1rem);

background-repeat: 
  repeat-y,
  repeat-y,
  repeat,
  no-repeat,  
  repeat;

background-size: 
  100% 50vh,
  100% 50vh,
  auto,
  100% calc(var(--line-height) * 3), 
  100% var(--line-height);



  font-size: var(--line-height) ;
  line-height: var(--line-height) ;
  box-sizing: border-box;

  margin: 0;
  padding: 0;

}



h1, h2 {

  text-align: left;
  
}

h2 {
  font-size: calc(2 * var(--line-height));
  line-height: calc(2 * var(--line-height));

  margin-bottom: var(--line-height); 
  margin-top: calc(2 * var(--line-height));
}

h1 {
  text-align: center;
    font-size: calc(2.5 * var(--line-height));
    line-height: calc(3 * var(--line-height));

    margin-bottom: var(--line-height); 
    margin-top: 0;
    
    
}


.section {
  margin-left: 90px;
  margin-right: 20%;
  margin-bottom: var(--line-height);
  font-size: var(--line-height);
  line-height: var(--line-height);
  transform: translateY(calc(var(--line-height) * .1));

}


#headshot {
  position:absolute;
  width: 150px; 
  height: auto;
  right: 1.5rem;
  top: 3rem;
  border-radius: 1rem / 1rem;

}

#headshot:hover {
  filter:hue-rotate(400000deg);
  transition: filter 1000s linear;
}

#contact {
  position:absolute;
  right: 1.5rem;
  top: 1rem;

  transform: rotate(10deg);

  font-size: var(--line-height);

}

#check {
  position:absolute;
  left: 1.5rem;
  top: .5rem;

  transform: rotate(-10deg);

  font-size: var(--line-height);

  z-index: 1;

}

.expandable {
  background-color: var(--yellow-shade);
  padding-left: 4px;
  padding-right: 4px;

}

.thumbnail {
  border-radius: 3rem / 3rem;
  object-fit: fill;
  width: 100%;
  height: 100%;
  flex-grow: 0;
  transition: transform 0.3s ease;

}

.thumbnail:hover {
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

  transform: scale(1.1) !important;
  transition: transform 0.3s ease;
  
}

a:has(img) {
  height: calc(var(--line-height) * 5);
}

.grid-container > span {
  background-color: red;
}

.grid-container {
  margin: var(--line-height);
  margin-bottom: calc(var(--line-height ) * 3);
  display: flex;
  gap: var(--line-height);
  flex-wrap: wrap;
  width: 80vw;
}

#footer {

  font-size: calc(var(--line-height) * .65);
  line-height: calc(var(--line-height) * .65);
  margin-top: calc(var(--line-height) * 2);
  
  background-color: lightgray;
  padding: 8px;
  padding-bottom: calc(var(--line-height) * .5);
}

#postit, #postit-shadow {
  text-align: center;
  background-color: var(--yellow-shade);
  height: calc(var(--line-height) * 5.9);
  width:  calc(var(--line-height) * 6);

  right: calc( var(--line-height));

  top: calc(25 * var(--line-height));

  position:absolute;

  transform: skew(6deg) rotate(-5deg) ;

  z-index: 1;
}

#postit {
  background-image:  linear-gradient(rgba(255, 153, 0, 0.179), transparent 20%, rgba(255, 255, 255, 0.495));

}

#postit-shadow {

  /* transform-origin: top; */

  transform: skew(6deg) rotate(-5deg) skew(-4deg) translateX(-6px) ;

  content: ""; /* Required for pseudo-elements */
  position: absolute;

  background-color: rgba(0, 0, 0, 0.671); 
  filter: blur(2px); 
}

#postit > span {
  font-size: calc(.75 * var(--line-height));
}

.vertical-bundle {
  display: flex;
  flex-direction: column;

  width: max(20vw);
  height: calc(8 * var(--line-height));
}

.arrow {
  width: 100%;
  z-index: -1;
}